{% load static %} 
 <!-- Carousel Start -->
 <div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
      {% for slide in slider %}
        <div class="owl-carousel-item position-relative">
          <img class="img-fluid" src="{{ slide.slide_img.url }}" alt="slide_img" />
          <div
            class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
            style="background: rgba(0, 0, 0, 0.2)"
          >
            
          </div>
        </div> 
      {% endfor %}

    
    </div>
  </div>
  <!-- Carousel End -->