{% extends "base.html" %} 
{% load static %} 
{% block title %}প্রতিষ্ঠান সম্পর্কিত{% endblock title %} 
{% block body %}
   {% include "include/spinner.html" %}
   {% include "include/navbar.html" %}
      <div class="container-fluid py-5 page-header position-relative mb-5">
        <div class="container py-5">
            <h1 class="display-2 text-white animated slideInDown p-5 mb-4 text-center" style="font-family: 'Kalpurush', sans-serif;">এক নজরে বিদ্যালয়ের পরিচিতি</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb ">
                    <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Classes</li>
                     -->
                </ol>
                <ol class="breadcrumb">
                   <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Classes</li>  -->
                    
                </ol>
            </nav>
        </div>
    </div>
      <section>
        <div class="container">
            <div class="row p-5">
<table class="table table-bordered" cellpadding="3" cellspacing="0" style="margin: 0 auto;" width="100%">
            <tr>
                <td colspan="4" class="columnStyleTop">
                    এক নজরে বিদ্যালয়ের পরিচিতি
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    বিদ্যালয়ের <b style="font-family: Century Gothic; font-size: 10pt;">EIIN :</b>
                </td>
                <td class="columnStyleRight" colspan="3">
                    <span id="ContentPlaceHolder1_txtEIIN">{{ school_info.school_elln }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    বিদ্যালয়ের নাম :
                </td>
                <td class="columnStyleRight" colspan="3">
                    <span id="ContentPlaceHolder1_txtSchoonNameBn">{{ school_info.school_name_bn }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft" style="font-family: Century Gothic; font-size: 10pt;">
                    SCHOOL NAME :
                </td>
                <td class="columnStyleRight" colspan="3" style="font-family: Century Gothic; font-size: 10pt;">
                    <span id="ContentPlaceHolder1_txtSchoonNameEn">{{ school_info.school_name_en }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    গ্রাম/বাড়ী ও সড়কের বিবরণ :
                </td>
                <td class="columnStyleRight" colspan="3">
                    <span id="ContentPlaceHolder1_txtVillage">{{ school_info.village_or_road }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    ওয়ার্ড নম্বর :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtWardNo">{{ school_info.word_no }}</span>
                </td>
                <td class="columnStyleLeft" style="border-left: none;">
                    ইউনিয়ন/পৌরসভা/সিটি কর্পোরেশন :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtCityCorp">{{ school_info.union_city_corparation }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    পোস্ট অফিস :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtPostOffice">{{ school_info.post_office }}</span>
                </td>
                <td class="columnStyleLeft" style="border-left: none;">
                    পোস্ট কোড :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtPostCode">{{ school_info.post_code }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    পুলিশ স্টেশন :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtThana">{{ school_info.police_station }}</span>
                </td>
                <td class="columnStyleLeft" style="border-left: none;">
                    উপজেলা :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtUpazila">{{ school_info.upozila }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    জেলা :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtDistrict">{{ school_info.district }}</span>
                </td>
                <td class="columnStyleLeft" style="border-left: none;">
                    বিভাগ :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtDivision">{{ school_info.division }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    মোবাইল :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtTelephone">{{ school_info.mobile_no }}</span>
                </td>
                <td class="columnStyleLeft" style="font-family: Century Gothic; font-size: 11pt;
                    border-left: none;">
                    E-Mail :
                </td>
                <td class="columnStyleRight" style="font-family: Century Gothic; font-size: 9pt;">
                    <span id="ContentPlaceHolder1_txtEMail">{{ school_info.email }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft" style="font-family: Century Gothic; font-size: 11pt;">
                    Website :
                </td>
                <td class="columnStyleRight" style="font-family: Century Gothic; font-size: 9pt;">
                    <a href="http://www.jabhs.edu.bd" id="ContentPlaceHolder1_lnkWebsite" target="_blank" style="text-decoration: none; color: #FF0000;
                        font-weight: bold;">
                        <span id="ContentPlaceHolder1_txtWebsite">{{ school_info.website }}</span></a>
                </td>
                <td class="columnStyleLeft" style="border-left: none;">
                    শিক্ষার্থীর সংখ্যা :
                </td>
                <td class="columnStyleRight">
                    <a href="student_at_a_glance" style="text-decoration: none; color: #FF0000; font-weight: bold;">
                        <span id="ContentPlaceHolder1_txtTotalStudents">৫২০</span></a>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    বিদ্যালয়ের শিফট :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtSchoolShift">{{ school_info.school_shit }}</span>
                </td>
                <td class="columnStyleLeft" style="border-left: none;">
                    বিদ্যালয়ের ধরণ :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtSchoolType">{{ school_info.school_chars }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    শ্রেণি কার্যক্রম :
                </td>
                <td class="columnStyleRight" colspan="3">
                    <table cellspacing="0">
                        <tr>
                            <td style="text-align: right; padding-right: 5px;">
                                {{ school_info.school_activites }}
                            </td>
                            {% comment %} <td>
                                <span id="ContentPlaceHolder1_txtShiftMorningFrom">ষষ্ঠ</span>
                            </td>
                            <td style="text-align: right; padding-right: 5px;">
                                -
                            </td>
                            <td>
                                <span id="ContentPlaceHolder1_txtShiftMorningTo">দশম</span>
                            </td> {% endcomment %}
                        </tr>
                        
                        
                    </table>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    মোট জমির পরিমান (একর) :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtTotalLand">{{ school_info.total_land }}</span>
                </td>
                <td class="columnStyleLeft" style="border-left: none;">
                    ভবন সংখ্যা :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtTotalBuilding">{{ school_info.total_vobon }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    মোট শ্রেণিকক্ষ সংখ্যা :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtTotalClassRoom">{{ school_info.total_classroom }}</span>
                </td>
                <td class="columnStyleLeft" style="border-left: none;">
                    মাল্টিমিডিয়া শ্রেণিকক্ষ সংখ্যা :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtMultimediaRoom">{{ school_info.total_multimedia_room }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    আইসিটি ল্যাব সংখ্যা :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtICTLab">{{ school_info.total_ict_lab }}</span>
                </td>
                <td class="columnStyleLeft" style="border-left: none;">
                    বিজ্ঞানাগার এর জন্য কক্ষ সংখ্যা :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtLaboratory">{{ school_info.total_room_for_science }}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    পাঠাগার এর জন্য কক্ষ সংখ্যা :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtLibrary">{{ school_info.total_library_room }}</span>
                </td>
                <td class="columnStyleLeft" style="border-left: none;">
                    অডিটোরিয়াম আছে কি না :
                </td>
                <td class="columnStyleRight">
                    <span id="ContentPlaceHolder1_txtAuditorium">{% if school_info.has_auditorium %}আছে{% else %}নাই{% endif %}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleLeft">
                    সীমানা প্রাচীর আছে কি না :
                </td>
                <td class="columnStyleRight" colspan="3">
                    <span id="ContentPlaceHolder1_txtBoundary">{% if school_info.has_boundary %}আছে{% else %}নাই{% endif %}</span>
                </td>
            </tr>
            <tr>
                <td class="columnStyleRight">
                    খেলার মাঠ আছে কি না :
                </td>
                <td class="columnStyleRight" colspan="3">
                    <span id="ContentPlaceHolder1_txtBoundary">{% if school_info.has_playground %}আছে{% else %}নাই{% endif %}</span>
                </td>
            </tr>
        </table>
            </div>

        </div>
        
      </section>

{% endblock body %}

   

     
      

     

      

     