{% extends "base.html" %} 
{% load static %} 
{% block title %}একাডেমিক তথ্য{% endblock title %} 

{% block body %}
    <div class="container-fluid bg-white p-0">
        {% include "include/spinner.html" %} 
        {% include "include/navbar.html" %}
     
        <div class="container-fluid py-5 page-header position-relative mb-5">
            <div class="container py-5">
                <h1 class="display-2 text-white animated slideInDown p-5 mb-4 text-center" style="font-family: 'Kalpurush', sans-serif;">এক নজরে বিদ্যালয়ের পরিচিতি</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb "></ol>
                </nav>
            </div>
        </div>

        <section>
            <div class="container">
                <div class="row p-5">
                    <h3>এক নজরে অধ্যায়নরত শিক্ষার্থীদের তথ্য</h3>
                    <table class="table table-bordered" cellpadding="3" cellspacing="0" style="margin: 0 auto;" width="100%">
                        <tr>
                            <td colspan="17" class="columnStyleTop text-center">অধ্যয়নরত শিক্ষার্থীর সংখ্যা</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> বিদ্যালয়ের EIIN: </td>
                            <td class="columnStyleRight">{{ school_info.eiin }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> বিদ্যালয়ের নাম: </td>
                            <td class="columnStyleRight">{{ school_info.school_name_bn }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> SCHOOL NAME: </td>
                            <td class="columnStyleRight">{{ school_info.school_name_en }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> গ্রাম/বাড়ী ও সড়কের বিবরণ: </td>
                            <td class="columnStyleRight">{{ school_info.address }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> ওয়ার্ড নম্বর: </td>
                            <td class="columnStyleRight">{{ school_info.ward_number }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> পোস্ট অফিস: </td>
                            <td class="columnStyleRight">{{ school_info.post_office }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> পুলিশ স্টেশন: </td>
                            <td class="columnStyleRight">{{ school_info.police_station }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> জেলা: </td>
                            <td class="columnStyleRight">{{ school_info.district }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> বিভাগ: </td>
                            <td class="columnStyleRight">{{ school_info.division }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> মোবাইল: </td>
                            <td class="columnStyleRight">{{ school_info.mobile }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> E-Mail: </td>
                            <td class="columnStyleRight">{{ school_info.email }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> Website: </td>
                            <td class="columnStyleRight">
                                <a href="{{ school_info.website }}" target="_blank">{{ school_info.website }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> শিক্ষার্থীর সংখ্যা: </td>
                            <td class="columnStyleRight">{{ school_info.total_students }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> বিদ্যালয়ের শিফট: </td>
                            <td class="columnStyleRight">{{ school_info.school_shift }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> মোট জমির পরিমান (একর): </td>
                            <td class="columnStyleRight">{{ school_info.total_land_area }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> ভবন সংখ্যা: </td>
                            <td class="columnStyleRight">{{ school_info.building_count }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> আইসিটি ল্যাব সংখ্যা: </td>
                            <td class="columnStyleRight">{{ school_info.ict_lab_count }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> পাঠাগার এর জন্য কক্ষ সংখ্যা: </td>
                            <td class="columnStyleRight">{{ school_info.library_room_count }}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> অডিটোরিয়াম আছে কি না: </td>
                            <td class="columnStyleRight">{% if school_info.has_auditorium %}আছে{% else %}নাই{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> সীমানা প্রাচীর আছে কি না: </td>
                            <td class="columnStyleRight">{% if school_info.has_boundary_wall %}আছে{% else %}নাই{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="columnStyleLeft"> খেলার মাঠ আছে কি না: </td>
                            
                            <td class="columnStyleRight">{% if school_info.has_playground %}আছে{% else %}নাই{% endif %}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section> 
    </div>
{% endblock body %}
