{% extends "base.html" %} 
{% load static %}  
{% load form_extras %}
{% block title %}Admission{% endblock title %} 
{% block body %}
    <div class="container-fluid bg-white p-0">
      {% include "include/spinner.html" %} 
      {% include "include/navbar.html" %} 
    

      <section style="border-top-style: outset">
        <div class="container" id="form-mpz">
            <div class="row">
                <div class="col-md-12">
                    <div class="online-header-wapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="online-header" style="text-align: center;">
                                    <h1 style="font-family: 'Kalpurush', sans-serif;">ভর্তির আবেদন ফরম</h1>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form method="post" enctype="multipart/form-data">  
                {% csrf_token %}  

                <div class="row">
                    <div class="col-md-12">
                        <div class="details-main-wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="basic-detils-header">
                                        <h3>Basic Details</h3>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="basic-form-wrapper">
                                        <div class="row p-3">
                                            <!-- Use Django form fields here -->
                                            {% for field in form %}
                                                <div class="col-md-6">
                                                    <div class="basic-item">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field|add_class:"form-control" }}
                                                        {% if field.errors %}
                                                            <div class="error">{{ field.errors }}</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="submit-button" id="admission-submit-button">
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </section>
      

{% endblock body %}