{% extends "base.html" %} 
{% load static %} 
{% block title %}নোটিশ{% endblock title %} 
{% block body %}
    <div class="container-fluid bg-white p-0">
      {% include "include/spinner.html" %} 
      {% include "include/navbar.html" %}




      <div class="container">
        <div class="row">
            
            <div class="col-md-12 mt-5 text-center">
                <h2 style="font-family: 'Kalpurush', sans-serif;">নোটিশ বোর্ড</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead class="text-center">
                          <tr>
                            <th scope="col" class="SL">SN</th>
                            <th scope="col" class="Title">Title</th>
                            <th scope="col"class="SL">Publish Date</th>
                            <th scope="col"class="SL">Download</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>এসএসসি ২০২৩ এর নির্বাচনি পরীক্ষার ফলাফল প্রকাশ প্রসঙ্গে</td>
                            <td style="text-align: center;">08/10/2022</td>
                            <td style="text-align: center;"><img src="img/pdf.png" alt=""></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>পবিত্র ঈদ-ই-মিলাদুন্নবী (সা.) ২০২২ উপলক্ষে ০৯ অক্টোবর ২০২২ তারিখ ছুটির নোটিশ</td>
                            <td style="text-align: center;">08/10/2022</td>
                            <td style="text-align: center;"><img src="img/pdf.png" alt=""></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>২০২০-২০২১ শিক্ষাবর্ষে উচ্চ মাধ্যমিক শিক্ষার্থীদের নিবন্ধন কার্ড বিতরণ ও জমা প্রসঙ্গে।</td>
                            <td style="text-align: center;">08/10/2022</td>
                            <td style="text-align: center;"><img src="img/pdf.png" alt=""></td>
                          </tr>
                          
                          
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}




   
     

     
      

     

      

     

  