{% extends "base.html" %} 
{% load static %}
{% block title %}নোটিশ{% endblock title %} 
{% block body %}
    <div class="container-fluid bg-white p-0">
      {% include "include/spinner.html" %} 
      {% include "include/navbar.html" %}




      <div class="container">
        <div class="row">
            
            <div class="col-md-12 mt-5 text-center">
                <h2 style="font-family: 'Kalpurush', sans-serif;">নোটিশ বোর্ড</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead class="text-center">
                          <tr>
                            <th scope="col" class="SL">SN</th>
                            <th scope="col" class="Title">Title</th>
                            <th scope="col"class="SL">Publish Date</th>
                            <th scope="col"class="SL">Download</th>
                          </tr>
                        </thead>
                        <tbody> 
                          {% for notice in notices %} 
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ notice.title }}</td>
                                <td style="text-align: center;">{{ notice.created_at|date:"d/m/Y" }}</td>
                                <td style="text-align: center;">
                                    {% if notice.attachment %}
                                        <a href="{{ notice.attachment.url }}" target="_blank">
                                           <img src="{% static 'img/pdf.png' %}" style="width:20px;" alt="PDF">
                                        </a>
                                    {% else %}
                                        No attachment
                                    {% endif %}
                                </td>
                            </tr> 
                         {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}




   
     

     
      

     

      

     

  