{% extends "base.html" %}
{% load static %}
{% block title %}শিক্ষকমন্ডলী{% endblock title %}

{% block body %}
<div class="container-fluid bg-white p-0">
    {% include "include/spinner.html" %}
    {% include "include/navbar.html" %}

    <div class="container">
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
                    <h1 class="mb-3" style="font-family: 'Kalpurush', sans-serif;">শিক্ষকমন্ডলী</h1>
                    <hr>
                </div>

                <div class="row mt-5">
                    {% for teacher in teachers %}
                        <div class="col-md-3">
                            <div class="teacher-wrapper text-center">
                                <div class="techer-image">
                                    {% if teacher.image %}
                                        <img src="{{ teacher.image.url }}" alt="teacher-image" class="img-fluid">
                                    {% else %}
                                        <img src="{% static 'img/default-teacher.png' %}" alt="teacher-image" class="img-fluid">
                                    {% endif %}
                                </div>
                                <div class="teacher-titel">
                                    <h2 style="font-family: 'Kalpurush', sans-serif;">{{ teacher.name }}</h2>
                                    <h3 style="font-family: 'Kalpurush', sans-serif;">{{ teacher.designation }}</h3>
                                </div>
                                <div class="teacher-icon">
                                    {% if teacher.facebook %}
                                        <a href="{{ teacher.facebook }}" target="_blank" style="color: inherit;"><i class="fa-brands fa-facebook-f"></i></a>
                                    {% endif %}
                                    {% if teacher.instagram %}
                                        <a href="{{ teacher.instagram }}" target="_blank" style="color: inherit;"><i class="fa-brands fa-instagram"></i></a>
                                    {% endif %}
                                    {% if teacher.linkedin %}
                                        <a href="{{ teacher.linkedin }}" target="_blank" style="color: inherit;"><i class="fa-brands fa-linkedin"></i></a>
                                    {% endif %}
                                    {% if teacher.twitter %}
                                        <a href="{{ teacher.twitter }}" target="_blank" style="color: inherit;"><i class="fa-brands fa-twitter"></i></a>
                                    {% endif %}
                                    {% if teacher.youtube %}
                                        <a href="{{ teacher.youtube }}" target="_blank" style="color: inherit;"><i class="fa-brands fa-youtube"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
